<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chavin.dao.SchemeMapper" >
  <resultMap id="BaseResultMap" type="com.chavin.po.Scheme" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, deleted
  </sql>
  
  <sql id="where_sql">
  	<where>
  		1 &lt;&gt; 1
  			<trim prefix="or (" suffix=")" prefixOverrides="and">
  				<if test="id != null">
		  			and id = #{id}
		  		</if>
		  		<if test="ids != null">
		  			and id in <foreach collection="ids" open="(" close=")" item="item" separator=",">#{item}</foreach>
		  		</if>
		  		<if test="name != null and name != ''">
		  			and name = #{name}
		  		</if>
  			</trim>
  	</where>
  </sql>
  
  <!-- 根据实体查找 -->
  <select id="findByEntity" parameterType="Scheme" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from scheme
	<include refid="where_sql" />
  </select>
  
  
  <select id="findListByEntity" parameterType="Scheme" resultMap="BaseResultMap">
  	select DISTINCT s.id,s.name,s.deleted from scheme s LEFT JOIN scheme_meterial sm on s.id = sm.scheme_id 
	<trim prefix="where" prefixOverrides="and">
		1 = 1
  		<if test="ids != null and ids.size() > 0">
  			and s.id in <foreach collection="ids" item="item" open="(" close=")" separator=",">#{item}</foreach>
  		</if>
  		<if test="deleted != null and deleted != -1">
  			and s.deleted = #{deleted}
  		</if>
  		<if test="name != null and name != ''">
  			and s.name like CONCAT(CONCAT('%',#{name,jdbcType=VARCHAR}),'%')
  		</if>
  		<if test="foreignIds != null and foreignIds.size() > 0">
  			and sm.meterial_id in <foreach collection="foreignIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
  		</if>
  	</trim>
  </select>
  
    <!-- 根据实体修改 -->
  <update id="updateByEntity">
    update scheme
    <trim suffixOverrides=",">
	    <set>
	      <if test="entity.name != null" >
	        name = #{entity.name,jdbcType=VARCHAR},
	      </if>
	      <if test="entity.deleted != null" >
	        deleted = #{entity.deleted,jdbcType=INTEGER},
	      </if>
	    </set>
    </trim>
		<where>
		1 &lt;&gt; 1
		<trim prefix="or (" suffix=")" prefixOverrides="and">
			<if test="params.idParamter != null"> and id = #{params.idParamter}</if>
			<if test="params.nameParamter != null and params.nameParamter != ''"> and name = #{params.nameParamter}</if>
		</trim>
	</where>
  </update>
  
  <!-- 插入 -->
  <insert id="insert" parameterType="Scheme" useGeneratedKeys="true" keyProperty="id">
  	insert into scheme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteByEntity" parameterType="Scheme" >
    update scheme set deleted = 1
    <include refid="where_sql"/>
  </delete>


</mapper>